.box-area {
    width: 100%;
    height: 1000px;
    border-radius: 50px;
    background-color: rgb(144, 218, 231);
}

.circle-fix-position {
    background-color: rgb(255, 170, 58);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    position: fixed;
    bottom: 30px;
    left: 30px;

}


/* ----------------------------------------------- */


/* .box-area {
    background-image: url('/assets/img/04.jpg');
    background-repeat: no-repeat;
} */


/* -------------------------------------------- */


.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    overflow-x: visible;
    overflow-y: scroll;
}


/* ---------------------------------------- */


.new-box {
    border: 2px solid black;
    /* text-align: center; */
    /* text-align: start; */
    /* text-align: end; */
    /* text-align: justify; */
    float: left;  
}

/* float can be used for img and text */
