.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*--------> جهت x ----> between, evenly --> از لبه هم فاصله میگیره */
    align-items: center;            /*--------> جهت y */
    flex-wrap: wrap;
}


.flex-box>div {
    border: 2px solid black;
    padding: 10px;
}


/* font size, weight, family: */

@font-face {
    font-family: iransans;
    src: url();
}


.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.logo {
    width: 30px;
}


a {
    text-decoration: none;
    color: rgb(26, 26, 26);
    text-wrap: nowrap;
}


@media screen and (max-width: 576px) {
    .d-sm-none {
        display: none;
    }
}


@media screen and (min-width: 577px) and (max-width: 720px) {
    .d-md-block {
        display: block;
    }
}


@media screen and (min-width: 721px) {
    .d-lg-none {
        display: none;
    }
}