/* img {
    width: 300px;
    color: ;
    background-color: ;
    border: ;
    margin: ;
    padding: ;
    width: ;
    height: ;
} */

img {
    width: 300px;
    border-radius: 15px;
    border: 5px solid blueviolet;
}

p {
    color: black;
    background-color: cyan;
    border: 3px black solid;
    padding: 15px;
    margin: 15px;
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 150px;
}

button {
    padding: 10px;
    margin: 10px;
}

button#pink {
    background-color:pink;
}

button#cyan1 {
    font-size: 20px;
}

button#cyan2 {
    background-color: cyan;
}

button#red {
    background-color: red;
}

.btn-cyan {
    background-color: cyan;
}